@import "https://cdn-app.sberdevices.ru/shared-static/0.0.0/styles/SBSansText.0.2.0.css";

body {
    font-family: "SB Sans Text", system-ui, -apple-system, Segoe UI,
    Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    width: 98%;
    display: block;
}
.main-body{
    min-width: 100%;
}
.App {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    min-height: 100vh;
}

.my-header {
    margin-bottom: 2rem;
}

.buttons-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
    margin-bottom: 2rem;
}
.toast-button {
    display: flex;
}

.button-bar-button {
    flex: 1 1 calc(23% - 1.5rem);
    max-width: 22rem;
    margin-left: 1vh;
}

.cards-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.75rem;
}
.cards-row{
        margin-bottom: 30%;
}


.cards-row-card {
    display: flex;
    flex: 1 1 calc(30% - 1.5rem);
    margin-left: 1vh;
    max-height: 60%;
    width: 33%;
    max-width: 500px;
}

.button-bar-modal-1{
    margin-top: 40px;

}
.button-bar-modal-2{
    margin-top: 10px;

}
.row-notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.75rem;
    width: auto;
}
@media (max-width: 1080px) {
    .buttons-bar {
        flex: 0 1 100%;
    }
    .cards-row{
        flex: 1 1 100%;
    }
    .cards-row, .buttons-bar  {
        flex-direction: column;
        align-items: center;
        width: 98%;
        
    }
    .cards-row{
        margin-bottom: 30%;
    }

    .button-bar-button, .cards-row-card {
        flex: 1 1 100%;
        max-width: 80%;
        width: 80%;
    }
    .sum-card {
    height: auto;
    max-height: 20rem;
    margin-bottom: 30%;
    }
    body{
    width: 98%;
    display: block;
    }
    .scrollable-content, .scrollable-content-modal {
        max-height: 90%;
        overflow-y: auto;
    }
}

@media (max-width: 1280px) {
    body{
    width: 98%;
    display: block;
    }
    .cards-row{
        flex: 1 0 100%;
    }

    .scrollable-content, .scrollable-content-modal {
        max-height: 90%;
    }
}

.scrollable-content {
    max-height: 62vh;
    overflow-y: auto;
}

.name-list {
    margin-left: 1rem;
}

